{
  "log": {
    "_recordingName": "uploads-complete",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "273075d815f020994b3cb376a06fc76a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filename\":\"aiand-vcr-upload.png\",\"purpose\":\"vision\",\"bytes\":68,\"mime_type\":\"image/png\"}"
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 209,
            "text": "{\"id\":\"upload-31f8fdf004dd4c96ac149c2813365856\",\"object\":\"upload\",\"bytes\":68,\"created_at\":1780422941,\"expires_at\":1780426540,\"filename\":\"aiand-vcr-upload.png\",\"purpose\":\"vision\",\"status\":\"pending\",\"file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 892,
      },
      {
        "_id": "984c92093f8722f9e329e9a5df91085f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads/upload-31f8fdf004dd4c96ac149c2813365856/parts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 147,
            "text": "{\"id\":\"part-16c8d36fdd4d4df2b816809f7a0ca0e7\",\"object\":\"upload.part\",\"upload_id\":\"upload-31f8fdf004dd4c96ac149c2813365856\",\"created_at\":1780422942}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1987,
      },
      {
        "_id": "9826382bced0316c1383b2468145f0c2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"part_ids\":[\"part-16c8d36fdd4d4df2b816809f7a0ca0e7\"]}"
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads/upload-31f8fdf004dd4c96ac149c2813365856/complete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 381,
            "text": "{\"id\":\"upload-31f8fdf004dd4c96ac149c2813365856\",\"object\":\"upload\",\"bytes\":68,\"created_at\":1780422940,\"expires_at\":1780426540,\"filename\":\"aiand-vcr-u[...]
