{
  "log": {
    "_recordingName": "list-models",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "377f7d1ebdd84a527ef38df10c136b54",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.aiand.com/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2154,
            "text": "{\"object\":\"list\",\"data\":[{\"id\":\"deepseek-ai/deepseek-v4-flash\",\"name\":\"deepseek-ai/DeepSeek-V4-Flash\",\"object\":\"model\",\"created\":1780245232,\"owned_by\":\"ai&\",\"provider\":\"deepseek-ai\",\"context_window\":1048576,\"capabilities\":[\"reasoning\",\"tool_calling\"],\"description\":\"DeepSeek-V4-Flash\",\"input_per_1m\":\"0.150000\",\"output_per_1m\":\"0.250000\"},{\"id\":\"deepseek-ai/deepseek-v4-pro\",\"name\":\"deepseek-ai/DeepSeek-V4-Pro\",\"object\":\"model\",\"created\":1780245364,\"owned_by\":\"ai&\",\"provider\":\"deepseek-ai\",\"context_window\":1048576,\"capabilities\":[\"reasoning\",\"tool_calling\"],\"description\":\"DeepSeek-V4-Pro\",\"input_per_1m\":\"1.000000\",\"output_per_1m\":\"2.500000\"},{\"id\":\"qwen/qwen3.6-27b\",\"name\":\"qwen/qwen3.6-27b\",\"object\":\"model\",\"created\":1780245077,\"owned_by\":\"ai&\",\"provider\"[...]
