{
  "log": {
    "_recordingName": "uploads-cancel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aa5901d01bb270ee73988cec843baa9a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filename\":\"aiand-vcr-cancel.pdf\",\"purpose\":\"document\",\"bytes\":77,\"mime_type\":\"application/pdf\"}"
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 211,
            "text": "{\"id\":\"upload-688a3381ce80493fa731410f2bd208a7\",\"object\":\"upload\",\"bytes\":77,\"created_at\":1780422948,\"expires_at\":1780426547,\"filename\":\"aiand-vcr-cancel.pdf\",\"purpose\":\"document\",\"status\":\"pending\",\"file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 858,
      },
      {
        "_id": "a6f8a4e3591f7ad3d6282026c4f59cda",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads/upload-688a3381ce80493fa731410f2bd208a7/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 213,
            "text": "{\"id\":\"upload-688a3381ce80493fa731410f2bd208a7\",\"object\":\"upload\",\"bytes\":77,\"created_at\":1780422947,\"expires_at\":1780426547,\"filename\":\"aiand-vcr-cancel.pdf\",\"purpose\":\"document\",\"status\":\"cancelled\",\"file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1302,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
