{
  "log": {
    "_recordingName": "uploads-complete",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1a97a4df879a79671279b68a7ef16816",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filename\":\"aiand-vcr-upload.png\",\"purpose\":\"vision\",\"bytes\":68,\"mime_type\":\"image/png\"}"
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 209,
            "text": "{\"id\":\"upload-d7e0b31abb634989ab59b6789e953ca8\",\"object\":\"upload\",\"bytes\":68,\"created_at\":1780421734,\"expires_at\":1780425333,\"filename\":\"aiand-vcr-upload.png\",\"purpose\":\"vision\",\"status\":\"pending\",\"file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 956,
      },
      {
        "_id": "281e975cd7452bf0d5f33f2e9f568b07",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads/upload-d7e0b31abb634989ab59b6789e953ca8/parts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 147,
            "text": "{\"id\":\"part-3089b88859d2439e8fadf011dec4e90c\",\"object\":\"upload.part\",\"upload_id\":\"upload-d7e0b31abb634989ab59b6789e953ca8\",\"created_at\":1780421735}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2092,
      },
      {
        "_id": "4cae927e2f167823862f8774c3413f8d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"part_ids\":[\"part-3089b88859d2439e8fadf011dec4e90c\"]}"
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads/upload-d7e0b31abb634989ab59b6789e953ca8/complete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 381,
            "text": "{\"id\":\"upload-d7e0b31abb634989ab59b6789e953ca8\",\"object\":\"upload\",\"bytes\":68,\"created_at\":1780421733,\"expires_at\":1780425333,\"filename\":\"aiand-vcr-u[...]
