{
  "log": {
    "_recordingName": "uploads-cancel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1a97a4df879a79671279b68a7ef16816",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filename\":\"aiand-vcr-cancel.pdf\",\"purpose\":\"document\",\"bytes\":77,\"mime_type\":\"application/pdf\"}"
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 211,
            "text": "{\"id\":\"upload-f7d2ac02be064a6fad7af95f51d03a19\",\"object\":\"upload\",\"bytes\":77,\"created_at\":1780421741,\"expires_at\":1780425340,\"filename\":\"aiand-vcr-cancel.pdf\",\"purpose\":\"document\",\"status\":\"pending\",\"file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 896,
      },
      {
        "_id": "bd7c5ab57a5319727e651a94830203bf",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.aiand.com/v1/uploads/upload-f7d2ac02be064a6fad7af95f51d03a19/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 213,
            "text": "{\"id\":\"upload-f7d2ac02be064a6fad7af95f51d03a19\",\"object\":\"upload\",\"bytes\":77,\"created_at\":1780421740,\"expires_at\":1780425340,\"filename\":\"aiand-vcr-cancel.pdf\",\"purpose\":\"document\",\"status\":\"cancelled\",\"file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
