{
  "log": {
    "_recordingName": "files-lifecycle",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e01c17ce2ae291010ca4b18663f1d2b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.aiand.com/v1/files"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 303,
            "text": "{\"object\":\"list\",\"data\":[{\"id\":\"file-4f85075d1f404196a1cc75a50070f200\",\"object\":\"file\",\"bytes\":68,\"created_at\":1780421729,\"expires_at\":1783013728,\"filename\":\"blob\",\"purpose\":\"vision\"}],\"has_more\":false,\"first_id\":\"file-4f85075d1f404196a1cc75a50070f200\",\"last_id\":\"file-4f85075d1f404196a1cc75a50070f200\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 709,
      },
      {
        "_id": "948536e33c01e3bd09a9ed12e9444c2d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer <AIAND_API_KEY>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://api.aiand.com/v1/files"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 158,
            "text": "{\"id\":\"file-476a093ad9ec499db89bfcdc40089dc3\",\"object\":\"file\",\"bytes\":68,\"created_at\":1780422937,\"expires_at\":1783014935,\"filename\":\"blob\",\"purpose\":\"vision\"}"
          },
          "headers": [
            {
              "name": "con[...]
